<!DOCTYPE html>
<html>
<head>
<style>

.foster {
  background-color: rgb(255, 206, 71);
  color: white;
  padding: 30px;
  float: left;
  font-family: "Gill Sans", sans-serif;
}


</style>
</head>
<body>


<div class="container">
<h2 class="foster">Welcome to Foster Finder</h2><br><br><br><br><br><br><br>
<p>“Dogs are not our whole life, but they make our lives whole.”</p><br>




    
  
</div>
</body>
</html>